h1.home2 {
    background-color: rgb(154, 86, 175);
    font-family: "Impact", fantasy;
    text-align: center;
    font-size: 70px;
    font-stretch: ultra-expanded;
    padding-left: 20px;
    margin-bottom: 0px;
    }

.body {
  margin: auto;
}

body {
    margin-left: 0px;margin-top: 0px;margin-right: 0px; margin-bottom: 0px;
    background-color: rgb(246, 214, 255);
}

ul.nav {
    padding-left: 0px;
    background-color: #df9a39;
    text-align: center;
    margin-top: 0px;margin-bottom: 0px;;padding-bottom: 0px;padding-top: 0px;
    }
    ul.nav > li {
    display: inline-block;
    padding: 10px 20px;
    }
    ul.nav > li:hover {
    background-color: #956726;
    }
    ul.nav > li > a {
    color: white;
    text-decoration: none;
    }

    @media only screen and (max-width: 600px) {
        body {
          background-color: lightblue;
        }
      }
      
p.error {
  color: red;
  text-align: center;
}

a.home {
  color: yellow;
  text-decoration: none;
}

table.center{
  margin-left: auto;
  margin-right: auto;
}

span.background {
  background-color: aqua;
}

h2 {
  text-align: center;
  font-family: "arial", sans-serif;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;margin-bottom: 10px;padding-right: 200px;
}