<html lang='en'>
    <head>
        <title>
            Buku
        </title>
        <link rel="stylesheet" href="static/sitestyle.css">
    </head>
    <body>
        <h1><a href='/'>boocu</a> <a href='/'><img src=static/doglogo.png  style="width:50px;height:50px;"></a> </h1>
        <ul class=nav style="margin-top: 0px;margin-bottom: 0px;padding-top: 20px;;padding-bottom: 20px;">
            {% if logged_in %}
            <li><a href='/create_message'>Create Message</a></li>
            <li><a href='/logout'>Logout</a></li>
            {% else %}
            <li><a href='/login'>Login</a></li>
            <li><a href='/create_user'>Create Account</a></li>
            {% endif %}
        </ul>

        {% block content %}
        {% endblock %}
    </body>
</html>