{% extends 'base.html' %}


{% block content %}

    {% for message in messages %}
    <div class=display-messages>
        <img src="{{message.profpic}}" width="15" height="15">
        <b>@{{message.username}}</b><br>
            {{message.message}} <br>
        <span class=posted>{{message.created_at}}</span>
        {%if username == message.username %}
        <span class=msg> 
        <a href= "/edit_message/<id>"><u>edit</u></a>
          
        <a href= "/delete_message/<id>"><u>delete</u></a>
        </span> 
        {% endif %}
        <br>
    </div>
    <br>
{% endfor %}

<a class=json href= "/home.json">Convert to JSON</a>

<br>

{% endblock %}