{% extends 'base.html' %}


{% block content %}

    {% for message in messages %}
    <div class=display-messages>
        <b>{{message.username}}</b><br>
            {{message.text}} <br>
        <span class=posted>{{message.created_at}}</span>
        {%if username == message.username %}
            <a class="delete-message" href= "/delete_message/{{message.id}}">delete </a>
            <a class="delete-message" href= "/edit_message/{{message.id}}"> edit </a>
        {% endif %}
        <br>
    </div>
    <br>
{% endfor %}
<br> <br> <br> <br> <br> <br>
<a class="json" href= "/home.json">json</a>



{% endblock %}