{% extends 'base.html' %}

{% block content %}
<h2>Login Webpage</h2>

{% if bad_credentials %}
<p class=error>
    ERROR: Username or password incorrect.
</p>
{% endif %}

<form action='/login' method="POST">
    
    <script>
    function myFunctionpass() {
      var x = document.getElementById("myInput");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
    </script>

    <table class=center>
        <tr>
            <td><input type=text name=username placeholder="Username"></td>
        </tr>
        <tr>
            <td><input type=password name=password placeholder="Password" id="myInput"></td>
            <td><input type="checkbox" onclick="myFunctionpass()">Show Password</td>
        </tr>
        <tr>
            <td><input type=submit value='log in'></td>
        </tr>
    </table>
</form>
<p>New information.</p>
{% endblock %}