{% extends 'base.html' %}
{% block content %}

{% for message in messages %}
    <div class=display-messages>
        <img src="{{message.profpic}}" width="15" height="15">
        <b>@{{message.username}}</b><br>
            {{message.message}} <br>
        <span class=posted>{{message.created_at}}</span>
        {%if username == message.username %}
        <span class=msg> 
        <a class=json href= "/edit_message/<id>"><u>edit</u></a>
          <br>
        <a class=json href= "/delete_message/<id>"><u>delete</u></a>
        </span> 
        {% endif %}
        <br>
    </div>
    <br>
{% endfor %}


<br>

<a class=json href= "/change_password/<username>">Change Password</a>


<br> <br> <br> <br> <br>



<a class=json href= "/delete_account/<username>">Delete Account</a>
{% endblock %}